@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@font-face {
  font-family: "lulo";
  src: local("lulo"),
   url("./fonts/lulo/lulo.ttf") format("truetype");
  font-weight: bold;
  }
  @font-face {
    font-family: "paper";
    src: local("paper"),
    url("./fonts/paper.ttf") format("truetype");
    font-weight: bold;
    }

body {

  padding: 0;
  margin: 0;
  font-family: 'lulo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #5CDB95;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}