@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@font-face {
  font-family: "lulo";
  src: local("lulo"),
   url("./fonts/lulo/lulo.ttf") format("truetype");
  font-weight: bold;
  }

body {
  margin: 0;
  font-family: 'lulo', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
